@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="g2rlogbuttons">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "g2rlogbuttons", title = "Manage" })
            <a href="javascript:document.getElementById('logoutForm').submit()" class="g2rlogbuttons">Log off</a>
        </div>
    }
}
else
{
    <div class="g2rlogbuttons">
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "g2rlogbuttons"})
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "g2rlogbuttons"})
    </div>
}
