body {
    padding-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/*.layout-dropdown a {
    color: aliceblue;
}
*/
.es :hover {
    color: coral !important;
}

/*
li:hover {
    color: aqua !important;
}*/

.top-nav-home-link a {
    color: white;
}

.top-nav-home-link :hover {
    color: #e14d43;
}

.td__image img {
    max-width: 36px !important;
}

#registerLink {
    color: floralwhite;
    text-decoration: none;
    padding-right: 20px;
}


#loginLink {
    color: floralwhite;
    text-decoration: none;
}

loginPartial-sexy a :hover {
    color: #5C2A0F;
}
