body {
    padding-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn {
    background-color: darkorange;
    color: white;
    border-color: black;
}

.btn:hover {
    background-color: orangered;
    border-color: black;
}

.buildimg {
    margin-left: auto;
    margin-right: auto; 
    display:block;
    width: 40%;
}

.links {
    color: orange;
}

.links a {
    color: orange;
    text-decoration: none;
}

    .links a:hover {
        color: orangered;
    }

.buildDets {
    color: darkorange;
}

/*.layout-dropdown a {
    color: aliceblue;
}
*/
.es :hover {
    color: coral !important;
}

/*
li:hover {
    color: aqua !important;
}*/

.top-nav-home-link a {
    color: white;
}

.top-nav-home-link :hover {
    color: #e14d43;
}

.td__image img {
    max-width: 36px !important;
}

.register,
.login,
.manage,
.changepass {
    background: #282838;
    color: floralwhite;
    padding-left: 10px;
}

.g2rbuttons {
    color:black;
    background-color:lightgrey;
    margin-top: 10px
}

.g2rlogbuttons {
    text-decoration: none;
    color: white;
    margin-right: 50px;
    padding-top: 5px;
}

.g2rlogbuttons :hover{
    color: orange;
}

.mybuilds,
.mybuilds tr,
.deletebuild,
.buildsindex,
.buildsindex tr,
.suggbuildsindex,
.suggbuildsindex tr,
.suggbuildsdet,
.cpusindex,
.cpusindex tr,
.cpusdet,
.moboindex,
.moboindex tr,
.mobodet,
.casesindex,
.casesindex tr,
.casesdet,
.ramsindex,
.ramsindex tr,
.ramsdet,
.storagesindex,
.storagesindex tr,
.storagesdet,
.psusindex,
.psusindex tr,
.psusdet,
.gpusindex,
.gpusindex tr,
.gpusdet,
.help {
    background: #282838;
    color: floralwhite;
    padding-left: 10px;
}

.donate {
    text-align: center;
}

/*Contact*/
.contact-section {
    position: relative;
    top: 0;
    opacity: 1;
    transition: 1s;
    padding: 100px 150px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    background: #282838;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    color: #fff;
    padding: 5px 20px;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 15px;
}

::placeholder {
    color: #fff;
}

#msg {
    height: 280px;
    resize: none;
    font-family: sans-serif;
}

.form-submit-btn {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-transform: capitalize;
    padding: 15px 40px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 80px;
}

.map {
    width: 100%;
    height: 500px;
    padding: 10px;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.map iframe {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/*about section*/
.project-section {
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 100px;
    position: relative;
    top: 0;
    transition: 1s;
    background: #282838;
}

.project-heading {
    font-size: 100px;
    background: white;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    color: #1a1a1a;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    margin-left: 200px;
}

.project-card {
    height: 500px;
    width: 500px;
    position: relative;
}

.project-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: 0.5s;
}

.project-content {
    position: relative;
    padding: 40px;
    color: darkred;
    transition: 0.5s;
    opacity: 0;
    top: 70px;
}

.project-title {
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
}

.project-info {
    margin: 40px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.project-btn-grp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.project-btn {
    height: 40px;
    text-transform: capitalize;
    font-size: 18px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

a > .project-btn.live {
    border: none;
}

.project-btn.live {
    background: none;
    border: 2px solid #fff;
}

.project-card:hover .project-img {
    filter: blur(20px);
}

.project-card:hover .project-content {
    opacity: 1;
}