@*@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>*@


<section class="project-section">
    <h1 class="project-heading">Meet our team</h1>
    <div class="project-container">
        <div class="project-card">
            <img src="~/img/G2R_profile.jpg" class="project-img" alt="">
            <div class="project-content">
                <h1 class="project-title">Stavros Sountris</h1>
                <p class="project-info">
                    Back-end developer, patient and co-operative.
                    In his free time, he likes photoshooting, YouTube video creation
                    and live streaming when working his personal projects.
                </p>
                <div class="project-btn-grp">
                    <a href='https://github.com/StavrosG2R' target="_blank" class="project-btn github"><button class="project-btn github">github</button></a>
                    <a href="https://www.linkedin.com/in/stavros-sountris-271292219/" target="_blank" class="project-btn live"><button class="project-btn live">LinkedIn profile</button></a>
                </div>
            </div>
        </div>
        <div class="project-card">
            <img src="~/img/Karatzas_profile.jpg" class="project-img" alt="">
            <div class="project-content">
                <h1 class="project-title">Dimitris Karatzas</h1>
                <p class="project-info">
                    Always looking for the more sophisticated way out, both in code and real life.
                    Aspiring Software Developer. Visionary with sunglasses.
                    Loving father of two (dogs).
                </p>
                <div class="project-btn-grp">
                    <a href="https://github.com/dimitriskaratzas" target="_blank" class="project-btn github"><button class="project-btn github">github</button></a>
                    <a href="https://www.linkedin.com/in/dimitris-karatzas-473133195/" target="_blank" class="project-btn live"><button class="project-btn live">LinkedIn profile</button></a>
                </div>
            </div>
        </div>
        <div class="project-card">
            <img src="~/img/Amitsis_profile.jpeg" class="project-img" alt="">
            <div class="project-content">
                <h1 class="project-title">Filippos Amitsis</h1>
                <p class="project-info">
                    Forward-looking Junior Software Engineer, sometimes an Accountant.
                    Things in life change all the time. One thing that won't is his passion for race cars.
                    If you need more proof, if you were to spell racecar backwards it's still a racecar.
                    <div class="project-btn-grp">
                        <a href="https://github.com/FilipposNC" target="_blank" class="project-btn github"><button class="project-btn github">github</button></a>
                        <a href="https://www.linkedin.com/in/filippos-amitsis-484931226/" target="_blank" class="project-btn live"><button class="project-btn live">LinkedIn profile</button></a>
                    </div>
</div>
        </div>
        <div class="project-card">
            <img src="~/img/Gatsakos_profile.jpeg" class="project-img" alt="">
            <div class="project-content mpampis">
                <h1 class="project-title">Charalampos Gatsakos</h1>
                <p class="project-info">
                    He worked with a range of development technologies.
                    Front-End Experience with:
                    React , Angular , Html , Css

                    Back-End Experience with:
                    C# ASP.Net , Node , MSSQL
                </p>
                <div class="project-btn-grp">
                    <a href="https://github.com/charalampos-gatsakos" target="_blank" class="project-btn github"><button class="project-btn github">github</button></a>
                    <a href="https://www.linkedin.com/in/charalampos-gatsakos-66a069201/" target="_blank" class="project-btn live"><button class="project-btn live">LinkedIn profile</button></a>
                </div>
            </div>
        </div>
    </div>
</section>
