
@{
    ViewBag.Title = "Help";
}

<div class="help">
    <h2 class="links">How to use this site:</h2>

    <p>If you want to build a new PC and don't know where to start, or how to combine a CPU with a compatible motherboard, look no further.</p>
    <p>The Delegays Project provides you with the tools necessary to achieve that sweat-free. Here are some basic tips on how to navigate around the website.</p>
    <br />
    <div>
        <ul>
            <li><strong class="links">All Parts:</strong> Here you can view all the seperate Pc Parts and view their details, so you can prepare before assembling a build.</li>
            <li><strong class="links">Suggested Builds:</strong> You can come to this section, if you just want to browse builds, made by our all powerfull, all knowing Admins.</li>
            <li>
                <strong class="links">System Builder:</strong> The heart and soul of the site. Here you can create your own build. When you choose a Pc part, its details will be shown to your right.
                <br />What's even more, once you choose a Cpu, only the compatible motherboards will appear to you!
            </li>
            <li><strong class="links">My Builds:</strong> Once you create a build, it will be listed here.</li>
            <li><strong class="links">All Builds:</strong> Here you can find the builds created by all the users.</li>
            <li><strong class="links">Donate:</strong> This is the last place to visit before leaving the site. If you were happy with our services, toss a coin to your witchers!</li>
        </ul>
    </div>
</div>



