



        @Html.Partial("_SuggestedBuilds")
        @Html.Partial("_UserBuilds")






@*@section
    {
        <script>
            $(document).ready(function () {
                $(".details").on("click", function () {
                    $(".details").append('<a href="@Url.Action("Details","Details")">my link</a>');
                })
            })
        </script>

    }*@
