@model GroupProject.ViewModels.SuggestedBuildsViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@*<div class="row">
    <h2 class="text-center">Suggested Builds</h2>
    <hr />
    @foreach (var build in Model.SuggestedBuilds)
    {
        <div class="col-md-3">
            <img src="~/img/@Url.Content(artist.Thumbnail)" class="music-thumb" />
            <div class="title">
                <h4 class="text-center">@build.Name</h4>
            </div>
        </div>
    }
</div>*@