<h2>Roles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class = "table">
    @foreach (var role in Model)
    {
     <tr>
         <td>
            @role.Name
            <br />
         </td>
    
         <td>
             @Html.ActionLink("Delete", "Delete")
         </td>
    </tr>
    }
</table>