@*@model IEnumerable<DataAccess.Core.Entities.Donate>*@
<link href="~/Content/StyleSheetDonate.css" rel="stylesheet" />

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Add meta tags for mobile and IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title> PayPal Checkout Integration | Server Demo </title>
</head>

<body1>
    <div class="row" style="max-height: 600px; max-width:1100px; min-width:1100px;">
        <img src="~/img/Donate/donate 1.png" alt="Alternate Text" />
    </div>

    <div class="box">
        <img src="~/img/Donate/coins.png" />
        <h2>Donate The DeleGays Project <img src="~/img/Donate/give-love.png" style="margin-left:440px; margin-top:-50px;" /> </h2>
        <p>If you appreciate our job help us maintain and improve our project. <br />Small things change Donate below.</p>
        <a style="left:300px;" id="paypal-button-container"></a>
    </div>

    @section scripts
{
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
        <script>
            paypal.Button.render({
                // Configure environment
                env: 'sandbox',
                client: {
                    sandbox: 'demo_sandbox_client_id',
                    production: 'demo_production_client_id'
                },
                // Customize button (optional)
                locale: 'en_US',
                style: {
                    size: 'large',
                    color: 'blue',
                    shape: 'pill',
                },

                // Enable Pay Now checkout flow (optional)
                commit: true,

                // Set up a payment
                payment: function (data, actions) {
                    return actions.payment.create({
                        transactions: [{
                            amount: {
                                total: '10.01',
                                currency: 'USD'
                            }
                        }]
                    });
                },
                // Execute the payment
                onAuthorize: function (data, actions) {
                    return actions.payment.execute().then(function () {
                        // Show a confirmation message to the buyer
                        window.alert('Thank you for your purchase!');
                    });
                }
            }, '#paypal-button-container');
        </script>
    }
</body1>

</html>
